# compiled
*.com
*.class
*.dll
*.exe
*.o
*.so

# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# logs and databases
*.log
*.sql
*.sqlite

# os files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# other
node_modules/
dest/
design.xd~RF12403a55.TMP
design.xd

